<h1>Animal Sightings</h1>

<ul>
  <% @sightings.each do |sighting| %>
    <li>
      <!-- <%= sighting.animal.name %> was sighted in <%= sighting.location.name %> -->
      <%= link_to sighting.short_sighting_text, sighting %>
    </li>
  <% end %>
</ul>

<%= link_to "New Sighting", new_sighting_path %>
