<h1 class="text-center container well well-sm">Animal Sightings</h1>

<div class="container">
  <div class="row">
    <% @sightings.each do |sighting| %>
        <div class="container col col-md-4">
            <h3 class=" well well-sm text-center"><%= link_to sighting.short_sighting_text, sighting %></h3>
        </div>
    <% end %>
  </div>
  <h2 class="text-center well well-sm"><%= link_to "New Sighting", new_sighting_path %></h2>
</div>
