<h1 class="text-center container well well-sm"><u><%= "#{taxonomical_level}: #{data.name}" %></u></h1>

<div class="container">
  <div class="row">
    <% data.animals.each do |animal| %>
      <%= render partial: "shared/animal_container", locals: {animal: animal} %>
    <% end %>
  </div>
</div>
