<h1 class="text-center container well well-sm"><u>Animals that may or may not be in the Turing Basement</u></h1>

<div class="container">
  <div class="row">
    <% @animal.each do |animal| %>
      <div class="container col col-md-4">
        <a href=<%= "#{animal_path(animal)}" %>>
          <div class="well well-md">
            <div class="index_image">
              <%= image_tag animal.wiki_img_url, class: "center-block" %>
            </div>
            <h3 class="text-center"><%= link_to animal.name, animal %></h3>
          </div>
        </a>
      </div>
    <% end %>
  </div>
  <br />
  <!-- <p class="text-center">
    There are <%#= @animal.count %> animals
  </p> -->
  <h2 class="text-center well well-sm"><%= link_to "Add an animal", new_animal_path %></h2>
</div>
