<h1 class="text-center container well well-sm"><u>Animals that may or may not be in the Turing Basement</u></h1>

<div class="container">
  <div class="row">
    <% @animal.each do |animal| %>
      <%= render partial: "shared/animal_container", locals: {animal: animal} %>
    <% end %>
  </div>
  <br />
  <!-- <p class="text-center">
    There are <%#= @animal.count %> animals
  </p> -->
  <h2 class="text-center well well-sm"><%= link_to "Add an animal", new_animal_path %></h2>
</div>
