<h2>Animals that are not currently in the Turing Basement</h2>
<p>
  There are <%= @animal.count %> animals
</p>

<div class="container jumbotron">
  <% @animal.each do |animal| %>
    <h3><%= link_to animal.name, animal %></h3>
  <% end %>
</div>

<%= link_to "Add an animal", new_animal_path %>
