<h1 class="text-center container well well-sm"><u>Kingdoms</u></h1>
<%= render partial: "shared/tax_index", locals: { levels: @kingdoms } %>
<!-- <div class="container">
  <div class="row">
    <% @kingdoms.each do |kingdom| %>
      <div class="container col col-md-4">
        <div class="well well-md">
          <h3><%= link_to kingdom.name, kingdom %></h3>
        </div>
      </div>
    <% end %>
  </div>
</div> -->
